.container {
  font-size: 2rem;
  border-bottom: 2px solid gray;
  padding: 1rem;
}
.span {
  float: right;
  background-color: #e6e6e6;
}

.verified {
  font-style: italic;
  margin: 20px;
  font-size: 1.5rem;
  display: flex;
}
